@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ubuntu-tia-maria: #dd4814;
	--ubuntu-plum: #77216f;
	--ubuntu-finn: #5e2750;
	--ubuntu-toledo: #2c001e;
	--ubuntu-cloudy: #aea79f;
	--ubuntu-mine-shaft: #333333;
	--ubuntu-green: #55ff55;
	--ubuntu-blue: #5555ff;
}

p,
input {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
